body {
  margin-bottom: 10px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.container {
  width: 450px;
  margin: 25px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: 600;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input.error-border {
  border-color: red !important;
}

.error {
  font-size: 12px;
  color: red;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #1e88e5;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.close-btn {
  margin-top: 15px;
  background: #e53935;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#img {
  width: 100%;
}

h1 {
    text-align: center;
    co
}