body {
  background: #f2f2f2;
  font-family: Arial;
}

.container {
  width: 450px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #1e88e5;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  background: #e8f0fe;
  padding: 15px;
  border-radius: 6px;
  font-size: 15px;
}
